@mixin flexCenter{
    height: $height1;
    justify-content: $justifycontent;
    display: $display1;
    align-items: $alignit;
}

@mixin overflowText{
    overflow: $overflow;
    text-align: $texta;
}